/// IMPORT FONT
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  cursor: default;
  letter-spacing: 1px;
  background: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
  position: fixed;
  width: 100vw;
  color: white;
}
svg {
  margin: 0.3em;
  stroke: white;
  vertical-align: middle;
  width: 40px;
}
button {
  background: none;
}
.App {
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  background: url("https://images.pexels.com/photos/5911321/pexels-photo-5911321.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

$black-transparent: #101010eb;
header {
  max-width: 250px;
  background: $black-transparent;
  overflow: hidden;
  padding: 1em;
  color: white;

  img {
    width: 80%;
  }
  a {
    text-decoration: none;
    color: white;
    transition: all 0.2s ease-in;
  }

  .menu {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 3em 0.3em;

    & > div {
      padding: 1em 0;
      border-bottom: 0.01em solid currentColor;
      cursor: pointer;
      transition: all 0.2s ease-in;

      &:hover,
      &.active {
        background: #2e2e2ea8;
        a {
          cursor: pointer;
          margin-left: 0.4em;
        }
      }
      a {
        display: flex;
        align-items: center;
        gap: 0.1em;
      }
    }
  }
}

$black-transparent-main: rgba(0, 0, 0, 0.75);
main {
  background: #fefefe;
  color: white;
  padding: 1em;
  background-color: $black-transparent-main;

  .search-container,
  .history-container {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .searchBox {
      display: flex;
      flex-direction: column;
      gap: 1em;

      .separator {
        height: 1px;
        background: rgb(13, 94, 94);
        width: 30%;
        margin-top: 0.3em;
      }

      input#song {
        padding: 0.6em 1em;
        height: 4em;
        background: none;
        color: white;
        cursor: pointer;
        width: 100%;
        font-size: 0.6em;
        transition: all 0.2s ease-in;
        background: rgba(0, 0, 0, 0.2);

        &::placeholder {
          color: #cbcbcb;
          font-size: 1.2em;
          transition: all 0.2s ease-in;
        }

        &:hover,
        &:focus {
          background: rgba(0, 0, 0, 0.2);

          &::placeholder {
            color: #8d8d8d;
            font-size: 1.2em;
          }
        }

        &:focus {
          outline: none;
          border: none;
        }
      }
    }
    .results {
      margin-top: 1em;
      min-height: 50vh;
      max-height: calc(160px * 4 + 30px);
      overflow-y: auto;
      background: rgba(0, 0, 0, 0.5);

      h4 {
        font-weight: 100;
      }
      .result {
        min-height: 100px;
        width: 95%;
        padding: 0.5em 1.3em;
        border-bottom: 1px solid rgb(85, 85, 85);
        display: grid;
        grid-template-columns: auto 1fr 70px;
        gap: 1em;
        align-content: center;
        line-height: 2;
        align-items: center;
        transition: all 0.2s ease-in;
        cursor: pointer;

        * {
          cursor: pointer;
        }

        &:hover {
          background-color: rgba(0, 0, 0, 0.2);
        }

        // & > div {
        //   width: 53%;
        // }
        .song-pic {
          width: calc(6em + 1vw);
          overflow: hidden;

          img {
            object-fit: cover;
            object-position: center;
            width: 100%;
          }
        }

        .love svg {
          width: 60px;
          transition: all 0.1s ease-in-out;

          path {
            stroke: #ff7979;
            fill: none;
            stroke-width: 15;
            transition: all 0.1s ease-in-out;
          }
          &:hover,
          &.loved {
            transform: scale(1.1);
            transform-origin: center;
            path {
              fill: #ff7979;
            }
          }
          &.loved:hover {
            transform: scale(0.95);
          }
        }
      }
    }
  }
}
