/// IMPORT FONT
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  cursor: default;
  letter-spacing: 1px;
  background: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: calc(clamp(1.3em, 0.5em + 1vw, 3vw));
  position: fixed;
  color: white;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
svg {
  margin: 0.3em;
  stroke: white;
  vertical-align: middle;
  width: 40px;
}
button {
  background: none;
}
input:autofill,
input:autofill:hover,
input:autofill:focus,
textarea:autofill,
textarea:autofill:hover,
textarea:autofill:focus,
select:autofill,
select:autofill:hover,
select:autofill:focus {
  border: 1px solid green;
  text-fill-color: green;
}
h5 {
  font-weight: 300;
  font-size: 0.7em;
}
a {
  color: white;
  text-decoration: none;
}

.App {
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  background: url("./party.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

$black-transparent: rgba(0, 0, 0, 0.9);
header {
  width: clamp(100px, 10vw, 450px);
  background: $black-transparent;
  overflow: hidden;
  padding: 1em 3vw;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15vh;
  font-size: 0.7em;
  img {
    width: calc(2em + 1vw);
    border: 1px solid white;
  }
  a {
    text-decoration: none;
    color: white;
    transition: all 0.2s ease-in;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin: 3em 0.3em;

    & > * {
      cursor: pointer;
      transition: background 0.2s ease-in;
      width: calc(clamp(3em, 2em + 2vw, 4em));
      height: calc(clamp(3em, 2em + 2vw, 4em));
      padding: 0.7em;
      border-radius: 50%;
      display: grid;
      place-items: center;
      background: #0000008a;

      * {
        cursor: pointer;
      }

      &:hover {
        background: #7f1734;
      }
      &.active,
      &.active * {
        background: #7f1734;
        cursor: default;
        border: none;
      }

      a {
        display: flex;
        align-items: center;
        gap: 0.1em;
      }
    }
  }
  .powered-by {
    * {
      line-height: 2;
      cursor: pointer;
      font-weight: 100;
      white-space: nowrap;

      &:hover {
        color: rgb(255, 185, 185);
      }
    }
  }
}

$black-transparent-main: rgba(0, 0, 0, 0.8);
main {
  background: #fefefe;
  color: white;
  // padding: 1em;
  background-color: $black-transparent-main;

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    input#song {
      padding: 4vh 1em;
      height: 4em;
      background: none;
      color: white;
      cursor: pointer;
      width: 100%;
      font-size: 0.8em;
      transition: all 0.1s ease-in;
      background: rgba(0, 0, 0, 0.2);
      border-bottom: 1px solid rgba(89, 89, 89, 0.3) !important;

      &::placeholder {
        color: #fff;
        font-size: 1.2em;
        transition: all 0.1s ease-in;
      }

      &:hover,
      &:focus {
        background: rgba(0, 0, 0, 0.2);

        &::placeholder {
          color: #8d8d8d;
          font-size: 1.2em;
        }
      }

      &:focus {
        outline: none;
        border: none;
      }
    }
    .results {
      overflow-y: auto;
      h4 {
        font-weight: 100;
      }
      h3 {
        font-size: clamp(1em, 4vw, 1.1em);
        line-height: 1.5em;
      }
      .result {
        min-height: 100px;
        padding: 0.5em 1.3em;
        border-bottom: 1px solid rgb(85, 85, 85);
        display: grid;
        grid-template-columns: auto 1fr 70px;
        gap: 1em;
        align-content: center;
        line-height: 2;
        align-items: center;
        transition: all 0.2s ease-in;
        cursor: pointer;

        * {
          cursor: pointer;
        }

        &:hover {
          background-color: rgba(0, 0, 0, 0.2);
        }

        .song-pic {
          width: calc(3em + 6vw);
          overflow: hidden;

          img {
            object-fit: cover;
            object-position: center;
            width: 100%;
          }
        }

        .love-price {
          .love svg {
            width: calc(3em + 2vw);
            transition: all 0.1s ease-in-out;

            path {
              stroke: #ff7979;
              fill: none;
              stroke-width: 15;
              transition: all 0.1s ease-in-out;
            }
            &:hover,
            &.loved {
              transform: scale(1.1);
              transform-origin: center;
              path {
                fill: #ff7979;
              }
            }
            &.loved:hover {
              transform: scale(0.95);
            }
          }
          min-width: fit-content;
          display: grid;
          justify-content: center;

          .price {
            padding: 0.1em 0.3em;
            background: #ff7979a3;
            white-space: nowrap;
            border-radius: 0.1em;
            font-size: 1em;
            text-align: center;
          }
        }
      }

      .notif {
        display: none;
        opacity: 0;
        z-index: 1000;
      }

      .notification {
        position: fixed;
        padding: 1em;
        background: black;
        left: 50%;
        top: 20%;
        box-shadow: 0 0.1em 2em -0.1em red;
        transform: translateX(-50%);
        animation: showHide 3s ease-in-out forwards;
        display: block;
        opacity: 1;
        z-index: 1000;
        @keyframes showHide {
          0% {
            display: none;
            opacity: 0;
          }
          20% {
            display: block;
            opacity: 1;
          }
          100% {
            display: none;
            opacity: 0;
          }
        }
      }

      .showMore {
        padding: 1em;
        cursor: pointer;
        transition: all 0.2s ease-in;
        &:hover {
          color: rgb(212, 245, 255);
        }
        &:focus {
          color: rgb(103, 220, 255);
        }
      }
    }
  }

  .statistics {
    height: 96vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    #mynetwork {
      min-height: 90vh;
      // background: rgba(0, 0, 0, 0.4);
      padding: calc(1em + 1vw);
    }
  }

  .error {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    font-size: 7vw;
  }
}

@media all and (max-width: 800px) {
  .App {
    grid-template-columns: auto !important;
  }
  header {
    position: absolute;
    z-index: 2;
    width: 100vw;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-direction: revert;
    justify-content: center;
    align-items: center;
    img {
      width: 70px;
    }

    .Logo {
      display: none;
    }
    .menu {
      flex-direction: row;
      margin: 0;
    }
  }

  main {
    .result {
      grid-template-columns: auto 1fr !important;
      position: relative;
    }

    .details {
      grid-row: span 2;
    }
    path {
      fill: #ff79797d !important;
    }
  }
}
