/// IMPORT FONT
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  cursor: default;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
}

.App {
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;

  & > * {
    // border: 1px solid #ccc;
  }
}

header {
  max-width: 250px;
  background: #101010;
  overflow: hidden;
  padding: 1em;
  color: white;

  img {
    width: 80%;
  }
  a {
    text-decoration: none;
    color: white;
    transition: all 0.2s ease-in;
  }

  .menu {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 3em 0.3em;

    & > div {
      padding: 1em 0;
      border-bottom: 0.01em solid currentColor;
      cursor: pointer;
      transition: all 0.2s ease-in;

      &:hover {
        background: #2e2e2ea8;
        a {
          cursor: pointer;
          margin-left: 0.4em;
        }
      }
    }
  }
}
